h1 {
  font-size: 4em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#grid {
  max-width: 300px;
}
.box {
  min-height: 100px;
}
#alert--container {
  min-height: 80px;
}
